@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html>

<head>
    <title>MultimediaDatabaseLab6</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>

    <div class="text-center">

        <h3>Welcome to Jugal Patel's Web Page</h3>
        
        <h4>
            <br />
            Hello and welcome to my webpage for NETD ASP.NET Core. Over here your will
            see three pages. One is for home page which you are in right now. It basically
            explains what this web page is about. The second page is for the book, where
            it allows the user to enter their name, age, book they read, the author,
            the year it was released, the genre of the book, and the description. It allows
            the user to enter their favourite books into the database and it could also be chosen
            to be on other peoples wish list. The third page is on movies that are based on book,
            its the same thing as the books with the user name, age, book they read, the author,
            the year it was released, the genre of the book, and the description. But it would,
            mainly be on the books that build up to the movies or so called live action.
            Hope this website comes in handy, and you could put it in your reading list or in your
            watching list. Hope you enjoy your day and have some fun!

        </h4>

    </div>
</body>
</html>
